html {
  scroll-behavior: smooth;
}

.hero {
  height: 75vh;
  background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center/cover no-repeat;
  margin-top: 56px;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-padding {
  padding: 60px 0;
}

.footer {
  background: #0d6efd;
  padding: 15px;
}
